@font-face {
    font-family: 'AvenirNextRounded';
    src: url('../font/AvenirNextRoundedStd-Reg.ttf');
  }
  
  
  @font-face {
    font-family: 'doha';
    src: url('../font/A.Spirit.Of.Doha.Black.ttf');
  }
  
  
  @font-face {
    font-family: 'OleoScript';
    src: url('../font/OleoScript-Regular.ttf');
  }
  